#container {
  border: 1px solid black;
  width: 960px;
  height: 960px;
  display: flex;
  flex-wrap: wrap;
}

#container div {
  box-sizing: border-box;
  border: 1px solid black;
}

.grids-opacity {
  opacity: 1;
  transition: 0.3s ease;
}