#container {
  border: 1px solid black;
  width: 960px;
  height: 960px;
  display: flex;
  flex-wrap: wrap;
}

#container div {
  width: calc(100% / 16);
  height: calc(100% / 16);
  box-sizing: border-box;
  border: 1px solid black;
}